*
!*/
!*.*
nim.cfg
vendor/*/
nimcache
*.out

.tool-versions
*.dSYM/
/*.png
/tests/output/*.png
nimble.develop
nimble.paths
.nimcache
deps/
.nimcache
nimbledeps
examples/emscripten/opengl_windy_renderlist_100_emscripten.js
examples/emscripten/opengl_windy_renderlist_100_emscripten.wasm
examples/emscripten/opengl_windy_renderlist_100_emscripten.data
